/* CSS RESET START

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

html{
  background-color: #F3EDE2;
  color:#202020;
}

/* need to set up colours and use those instead^ */

/* this is from calendar */
.app-container{
  margin: 10 auto;
  height: 896px;
  width: 414px;
  background-color: white;
  font-family: 'Recursive', sans-serif;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,.2);
}

nav{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: grey;
  font-weight:400;
  place-items: center;
  height: 60px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.day-tasks{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.day-number{
  color: grey;
  font-size: 16pt;
  padding: 15px;
  font-weight: 400;
}

.task{
  background-color:grey;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 4px;
}

.task-list{
  margin: 10px;
}